.page-container {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button {
    height: 45px;
    width: 30px;
    font: bold;
}

#newGame {
    background: #800000;
    margin-top: 15px;
    color: white;
}

.row {
    display: flex;
    flex-direction: row;
}

.navbar {
    background-color: #800000;
    color: white;
}

#instructions {
    font-size: 1.5em;
    color: black;
    padding-bottom: 15px;
}