.page-container {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button {
    height: 45px;
    width: 30px;
    font: bold;
}

#newGame {
    background: #800000;
    margin-top: 15px;
    color: white;
}

.row {
    display: flex;
    flex-direction: row;
}

.navbar {
    background-color: #800000;
    color: white;
}

#instructions {
    font-size: 1.5em;
    color: black;
    padding-bottom: 15px;
}

@media (min-width: 576px) {
    #gameBoard {
        height: 450px;
        width: 450px;
    }

    .square {
        font-size: 90px;
        line-height: 140px;
    }

    #newGameButton {
        font-size: 1.25em;
    }

}

@media (min-width: 768px) {
    #gameBoard {
        height: 600px;
        width: 600px;
    }

    .square {
        font-size: 120px;
        line-height: 180px;
    }

    #newGameButton {
        font-size: 1.5em;
    }
}